@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

ul {
  list-style-type: none !important;
  margin: 0 !important;
}

.content ul li:first-of-type {
  border-top: 1px solid #ddd;
}

.content ul li {
  border-bottom: 1px solid #ddd;
  padding: 4px;
  margin: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

h3 {
  margin: 0 !important;
}

.table-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.container>button {
  margin-top: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}